@media screen and (min-width:768px) {
  #logo {
    margin-bottom: 75px;
  }
  #mce-EMAIL {
    border-radius: 6px 0 0 6px;
    float: left;
  }
  #mc-embedded-subscribe {
    border-radius: 0 6px 6px 0;
    display: block;
    float: left;
  }
  #main h1 {
    margin-bottom: 15px;
  }
  #background {
    display: block;
  }
}

@media screen and (max-width:767px) {
  #background {
    display: none;
  }
  #logo {
    margin-bottom: 40px;
  }
}

html {
  background-color: #666;
}

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#logo {
  position: relative;
  margin-top: 17%;
}

#coakt_logo {
  min-width: 260px;
  max-width: 300px;
}

#background {
  position: absolute;
  top: -170px;
  left:-970px;
  z-index: -1;
}

#main h1, #copyright footer {
  font-weight: 300;
  letter-spacing: normal;
}

#main h1 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#main p {
  font-size: 22px;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
}

#main p:first-of-type {
  margin-top: 60px;
  margin-bottom: 20px;
}

#main p:last-of-type {
  margin-top: 20px;
  margin-bottom: 100px;
}

#copyright footer , #twitter a, #divider{
  font-size: 12px;
  text-align: center;
}
#twitter a {
  display: block;
}

#mce-EMAIL {
  letter-spacing: normal;
  font-weight: 600;
  font-size: 13px;
  display: block;
  max-width: 300px;
  width:100%;
  background-color: #000;
  border-style: none;
  color: #fff;
  opacity: .45;
  margin-bottom: 15px;
}

#mc-embedded-subscribe {
  letter-spacing: normal;
  width: 124px;
  padding: 0;
  background-color: #9B9B9B;
  border-style: none;
  margin-bottom: 300px;
}

#divider {
  margin-bottom: 38px;
  border-bottom: 1px solid #979797;
}
#twitter {
  margin-bottom: 38px;
}
#twitter img {
  width: 31px;
}
#copyright {
  margin-bottom: 11px;
}


/* footer code */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 157px; /* bottom = footer height */
}
.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 157px;
    width: 100%;
}

/* end footer */
